In [1]:
abs(-1)

1

In [2]:
abs(-1.5)

1.5

In [3]:
all([])

True

In [4]:
all({True, True, True})

True

In [5]:
all([True, False])

False

In [6]:
any([])

False

In [7]:
any([True, False])

True

In [8]:
any([False, False])

False

In [9]:
all([1,1,0])

False

In [10]:
any([1,1,0])

True

In [11]:
all(['a','b'])

True

In [12]:
all(['a','b',''])

False

In [13]:
list1 = [1,2,3]
list2 = [1,5,9]

In [15]:
any([item in list2 for item in list1])

True

In [16]:
boolean_list = [item in list2 for item in list1]

In [17]:
boolean_list

[True, False, False]

In [18]:
divmod(9.4, 5)

(1.0, 4.4)

In [19]:
seasons = ['spring', 'summer', 'fall', 'winter']

In [20]:
for season in seasons:
    print(season)

spring
summer
fall
winter

In [21]:
for i, season in enumerate(seasons):
    print(i, season)

0 spring
1 summer
2 fall
3 winter

In [22]:
list(enumerate(seasons))

[(0, 'spring'), (1, 'summer'), (2, 'fall'), (3, 'winter')]

In [23]:
x=1
eval('x+1')

2

In [24]:
eval("print(x)")

1

In [25]:
dic1 = {}

In [26]:
type(dic1)

dict

In [27]:
dic1 = dict()

In [28]:
type(dic1)

dict

In [29]:
dic1['name'] = "Jene"

In [30]:
dic1

{'name': 'Jene'}

In [31]:
dic1['name']

'Jene'

In [32]:
list1 = ['a','b','c','d','a']

In [34]:
set1 = set(list1) ##mutable
set1

{'a', 'b', 'c', 'd'}

In [37]:
set1.add('e')

In [38]:
set1

{'a', 'b', 'c', 'd', 'e'}

In [39]:
set2 = frozenset(['a','b','c']) ##immutable

In [40]:
set2.add('d')

AttributeError: 'frozenset' object has no attribute 'add'

In [41]:
help('frozenset')

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [42]:
id(set1)

4576449032

In [43]:
id(set2)

4576448584

In [44]:
user_input=input('Enter a number')
print(user_input)

Enter a number5
5

In [45]:
isinstance(dic1, set)

False

In [47]:
issubclass(TypeError, object)

True

In [48]:
len('hello python')

12

In [49]:
len([1,2,3])

3

In [50]:
list1 = []

In [51]:
list1 = list([1,2,3])

In [52]:
type(list1)

list

#map()
#lambda x:x*x

In [53]:
str_list = map(str, [3,6,9])

In [54]:
for str1 in str_list:
    print(str1, type(str1))

3 <class 'str'>
6 <class 'str'>
9 <class 'str'>

In [55]:
type(str_list)

map

In [56]:
squared = map(lambda x:x*x, [3,6,9])

In [57]:
for e in squared:
    print(e)

9
36
81

In [58]:
max([4,10,15])

15

In [59]:
min([-1,9,-15])

-15

In [60]:
list1=iter([1,5,8])

In [64]:
next(list1)

1

In [65]:
next(list1)

5

In [66]:
next(list1)

8

In [67]:
next(list1)

StopIteration:

In [68]:
list=[1,5,8]

StopIteration:

In [70]:
x=open('example1.txt','r')

In [71]:
for line in x:
    print(line)

This is the first line.

This is the second line.

In [72]:
x=open('example1.txt','w') #existed contents will be removed
x.close()

In [75]:
x=open('example1.txt', 'a') #append
x.write('This is the third line.')
x.close()

    h1> find with function

In [76]:
pow(2,4)

16

In [165]:
list(range(1,9,3))

TypeError: 'list' object is not callable

In [163]:
reversed([1,2,3])

In [82]:
round(3.1415926,2)

3.14

In [83]:
list3 = [9,3,6,2,10]

In [84]:
sorted(list3)

[2, 3, 6, 9, 10]

In [85]:
sorted(list3, reverse = False)

[2, 3, 6, 9, 10]

In [86]:
sorted(list3, reverse=True)

[10, 9, 6, 3, 2]

In [87]:
sum(list2)

15

In [88]:
sum(list3)

30

In [89]:
sum(list3,10)

40

In [90]:
tuple1 = tuple([1,2,3])

In [91]:
tuple1[0]

1

In [92]:
tuple1[0]=5

TypeError: 'tuple' object does not support item assignment

In [93]:
type(tuple1)

tuple

In [94]:
type(type(tuple1))

type

In [95]:
list1=['A','B','C','D']
list2 = [90, 80, 70, 60]

In [96]:
it1 = zip(list1, list2)

In [97]:
for pair in it1:
    print(pair)

('A', 90)
('B', 80)
('C', 70)
('D', 60)

In [98]:
list3 = ['Excellent', 'Good', 'Average', 'Below Average']

In [99]:
it2 = zip(list1, list2, list3)

In [100]:
next(it2)

('A', 90, 'Excellent')

In [101]:
next(it2)

('B', 80, 'Good')

In [102]:
import os

In [103]:
os.getcwd()

'/Users/baesieun/baesieun/Python_Programming/Lab06'

In [104]:
os.chdir('/Users/baesieun/baesieun/Python_Programming')

In [106]:
os.getcwd()

'/Users/baesieun/baesieun/Python_Programming'

In [107]:
os.chdir('/Users/baesieun/baesieun/Python_Programming/Lab06')

In [108]:
os.getcwd()

'/Users/baesieun/baesieun/Python_Programming/Lab06'

In [109]:
os.system('mkdir testfolder')

0

In [110]:
import glob

In [111]:
glob.glob('*.txt')

['example1.txt']

In [112]:
import math

In [113]:
math.pi

3.141592653589793

In [114]:
math.cos(math.pi)

-1.0

In [115]:
math.cos(math.pi/4)

0.7071067811865476

In [116]:
math.log(1024, 2)

10.0

In [117]:
import random

In [118]:
random.choice(['apple', 'pear', 'banana'])

'apple'

In [119]:
random.sample(range(100), 10)

[48, 42, 30, 94, 41, 84, 20, 56, 22, 35]

In [120]:
random.random()

0.2779017674082124

In [121]:
random.randrange(6)

0

In [122]:
random.randrange(6)

5

In [123]:
import statistics

In [124]:
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]

In [125]:
statistics.mean(data)

1.6071428571428572

In [126]:
statistics.median(data)

1.25

In [127]:
statistics.variance(data)

1.3720238095238095

In [128]:
from datetime import date
now = date.today()
now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B")

'04-10-19. 10 Apr 2019 is a Wednesday on the 10 day of April'

In [129]:
birthday = date(1998,1,30)

In [130]:
age=now-birthday

In [131]:
age.days

7740

In [133]:
import zlib

In [136]:
s = b'This class is about python functionsThis class is about python functions'

In [137]:
len(s)

72

In [138]:
t=zlib.compress(s)

In [139]:
len(t)

46

In [140]:
t

b'x\x9c\x0b\xc9\xc8,VH\xceI,.V\x002\x12\x93\xf2KK\x14\n*K2\xf2\xf3\x14\xd2J\xf3\x92K2\xf3\xf3\x8aC\x88P\x03\x00\xdc\x0b\x1b\x81'

In [141]:
zlib.decompress(t)

b'This class is about python functionsThis class is about python functions'

In [142]:
import timeit

In [144]:
str1='"_".join(str(n) for n in range(100))'
str2='"_".join(str(n*n) for n in range(100))'

In [145]:
timeit.timeit(str1, number=10000)

0.23052272299992183

In [146]:
timeit.timeit(str2, number=10000)

0.2594655809998585

In [149]:
import pprint

In [150]:
t=[['apple', 'banana', 'orange'], ['apple', 'banana', 'orange', ['pear']]]

In [151]:
print(t)

[['apple', 'banana', 'orange'], ['apple', 'banana', 'orange', ['pear']]]

In [158]:
pprint.pprint(t, width=30)

[['apple',
  'banana',
  'orange'],
 ['apple',
  'banana',
  'orange',
  ['pear']]]

In [160]:
from string import Template

In [161]:
t= Template('$name studies $major.')

In [162]:
t.substitute(name='Jene', major='information science')

'Jene studies information science.'